.cardt {
  background-color: darkred;
}

.counter {
  background-color: lightblue;
  border-radius: 50%;
  width: 2rem;
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  caret-color: transparent;
  margin-right: 1rem;
}

.counter li {
  display: inline block;
}
